<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>AttendancemanagementSystem</h1>
  <p>This application allows you to view, register, and edit attendance information of registered users.</p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>