<% provide(:title, "Top") %>
<div class="center jumbotron">
  <div class ="at">Attendance management system</div>
  
  <p>This application allows you to view, register, and edit attendance information of registered users.</p>
   <% if logged_in? %>
 <div class=" log ">&#x2728;You are logged in&#x2728;</div>
   <% else %>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
   <% end %>
</div>


