    
  <% provide(:title, 'base.offece') %>  
      <h1 class = "office">office list</h1>

<div class="body">
  <div class="row">
    <div class="index-table">
      <table class="table table-bordered table-striped table-condensed" id="table-sites">
        <thead>
          <tr>
            <td class="col-md-4"></td>
            <td class="col-md-2"></td>
            <td class="col-md-2 text-center">拠点番号</td>
            <td class="col-md-2 text-center">拠点名</td>
            <td class="col-md-2 text-center">拠点種類</td>
          </tr>
        </thead>
          <tbody class="thead-lignt">
            <tr>
              <td>
                <a class="btn btn-md btn-primary btn-attendance" href="/sites/2/edit">　修正　</a>
              </td>
              <td class="text-center">
                <a data-confirm="削除してよろしいですか？" class="btn btn-md btn-primary" rel="nofollow" data-method="delete" href="/sites/2">削除</a>
              </td>
              <td class="text-center">
                2
              </td>
              <td class="text-center">
                横浜
              </td>
              <td class="text-center">
                退勤
              </td>
            </tr>
          </tbody>
          <tbody class="thead-lignt">
            <tr>
              <td>
                <a class="btn btn-md btn-primary btn-attendance" href="/sites/3/edit">　修正　</a>
              </td>
              <td class="text-center">
                <a data-confirm="削除してよろしいですか？" class="btn btn-md btn-primary" rel="nofollow" data-method="delete" href="/sites/3">削除</a>
              </td>
              <div>
        </tr>
      </table>
    </div>
  </div>
</div>