// Place all the styles related to the Attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-title-jyouchou{
    color:deeppink;
     font-family:'Homemade Apple', cursive;
}

.user-name-jyouchou{
   color:deeppink;
   font-family:'Homemade Apple', cursive;
}