// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}


/* モーダルウインドウの位置調整 */

.modal-dialog-center {
  padding-top: 10%;
}

/* 基本情報編集モーダルウインドウ */

.label-overtime-application {
  margin-top: 5px;
}

.btn-overtime-application {
  margin: 15px 0;
  width: 30%;
}

/* 残業申請ボタン */
/* cusutom-color */
.btn-btn-from{
  background: aqua; /* 背景色 */
  color: #fff; /* 文字色 */
  padding: 5px 5px; /* 上下の余白、左右の余白 */
  text-decoration: none; /* デフォルトで入るリンクの下線を消す */
  border-radius: 200px; /* 角を丸くする */
}


.btn-btn-from:hover {
   color:white;
}  

.modal-title{
  color:aqua;
}

.user-name{
  color:aqua;
}

.btn-btn-primary{
  color:deeppink;
  background-color:white;
}

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/*Overtime application..modal.user.name s*/

h1 {
    color: navy;
}



.a:hover{
  color:aqua;
}

 
.alert{
  font-size: 2em;
  text-align:center
}

.alert-success {
    color:blue;
    background-color:white;
    border-color:blue;
   font-family: 'Corben', cursive;
}  


  
.label-overtime_log {
  margin-top: 5px;
}

.btn-overtime_log {
  margin: 15px 0;
  width: 30%;
}

.btn-info{
  color:white;
  background-color:aqua;
  border-color:white;
}

.btn-info:hover{
  color:pink;
  background-color:aqua;
   border-color:white;
}  

.btn-circle-fishy {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
}

.btn-circle-fishy:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.index-title{
  color:navy;
  
}
/*ユーザー一覧削除ボタン */

.btn-info {
    color:white;
    background-color: blue;
    border-color: #ac2925;
}    

/*       */
.btn-default {
    color:aqua;
    background-color:white;
    border-color:pink;
}  

.btn-default:hover {
    color:aqua;
    background-color:blue;
    border-color:pink;
}

