// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
   margin-top: 10px;
}

.label-signup {
  margin-top: 5px;
   color: deeppink;
}

.btn-signup {
  margin-top: 10px;
//   color: pink;
}


